body{
  font-family: 'Dancing Script', cursive;
  color: black;
}
.form-control{
  background-color: transparent;
  font-weight: 570;
  color: whitesmoke;
}
textarea{
  color: whitesmoke;
}
.label{
  
  /* font-weight: 600; */
  color: whitesmoke;
}
.headingform{
  color: whitesmoke;
  text-align: center;
}
input{
  color: whitesmoke;
}
hr{
  width: 50%;
  height: 2px;
  background-color: whitesmoke;
}
.heading{
  
  text-align: center;
  padding-top: 2%;
  color: whitesmoke;
} 
.container-fluid{
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  padding-bottom: 5%;
  box-shadow: 2px 2px 3px 2px black;
  margin-bottom: 5%;

}
input{
  color: whitesmoke;
}