<div class="overlay">
  <h1 class="title">
    {{ title | titlecase }}
  </h1>
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="all-cards">
          <div
            style="font-size: 1.4em"
            class="favquote"
            *ngFor="let quote of quote; let i = index; let j = index"
          >
            <div class="card">
              <div
                class="high-quote"
                class="card-body"
                *ngIf="quote.upVote == highest(i) && highest(i) > 0"
              >
                <br />
                <h4 class="heading">QUOTE OF THE DAY</h4>
                <p class="card-title1">{{ quote.title | uppercase }}</p>
                <p class="quote-desc" class="card-text1" appHighlightQuote>
                  {{ quote.quote }}
                </p>
                <p>
                  <span class="card-subtitle mb-8 text-muted"
                    >-{{ quote.author }}</span
                  >
                </p>
                <div class="votes">
                  <button
                    class="btn btn-sm btn-success"
                    (click)="upVoter(i); highest(i)"
                  >
                    <span
                      >{{ quote.upVote
                      }}<i class="fa fa-thumbs-up" id="like"></i
                    ></span>
                  </button>
                  <button class="btn btn-sm hate" (click)="dnVoter(i)">
                    <span class="dis"
                      >{{ quote.dnVote
                      }}<i class="fa fa-thumbs-down" id="dislike"></i
                    ></span>
                  </button>
                  <p id="when" class="date">
                    Published on: {{ quote.publishedDate | date }} by
                    {{ quote.name }}
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <app-quotes-form (add)="addedQuote($event)"></app-quotes-form>
      </div>
      <div class="col-sm-6">
        <div class="all-cards">
          <div
            *ngFor="let quote of quote; let i = index"
            class="card"
            style="width: 24rem;"
          >
            <div class="card-body">
              <h4 class="card-title">
                {{ quote.title | uppercase }} {{ quote.highestupVote
                }}<button
                  (click)="displayInfo(i)"
                  class="btn btn-success btn-sm"
                  id="quotes-button"
                >
                  DETAILS
                </button>
              </h4>
              <p class="card-text" id="param">{{ quote.quote }}</p>
              <app-quote-details
                *ngIf="quote.showInfo"
                [quote]="quote"
                (isComplete)="deleteQuote($event, i)"
              ></app-quote-details>
              <span class="card-subtitle mb-2"
                >Posted by: <span id="name">{{ quote.name }}</span
                ><span id="date"
                  >on:
                  <span id="datecolor">{{
                    quote.publishedDate | date: "short"
                  }}</span></span
                ></span
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer>
    <p
      class="text-center"
      style="font-family: Courgette, cursive; font-size: x-large;  color: whitesmoke"
    >
      © 2020 Quotes By Essy Mwangi
    </p>
  </footer>
</div>
