@import "~bootstrap/dist/css/bootstrap.css";
@import url('https://use.fontawesome.com/c3ee6e3458.css');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Dancing+Script:wght@400;700&display=swap');



body{
  background-image: url(./assets/arcachon-basin-basin-of-arcachon-beach-blue-458983.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

